.container {
  margin: 50px 0;
}

.card {
  margin: 0 2% !important;
}

.infected {
  border-bottom: 10px solid rgba(10, 125, 219, 0.5);
}

.recovered {
  border-bottom: 10px solid rgba(45, 107, 45, 0.5);
}

.deaths {
  border-bottom: 10px solid rgba(66, 14, 14, 0.5);
}

@media (max-width: 770px) {
  .card {
    margin: 2% 0 !important;
  }
}
